{% load static %}
{% load webauthn %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WebAuthn demo</title>
  <script src="{% static "app.js" %}"></script>
  <link rel="stylesheet" href="{% static "app.css" %}">

  {% webauthn_js "form [name=username]" "#signup" "#login" %}

</head>
<body>
<h1>
  <a href="https://github.com/shemigon/django-webauthn" target="_blank">django-webauthn</a> demo
</h1>
<form name="webauthn_input" onsubmit="event.preventDefault()">
  <label>Username:
    <input type="text" name="username" autocomplete="on">
  </label>
  <button id="signup">Create account</button>
  <button id="login">Log in</button>
</form>
<div id="result"></div>
</body>
</html>
