{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WebAuthn demo</title>
  <script src="{% static "app.js" %}"></script>
  <link rel="stylesheet" href="{% static "app.css" %}">
  <script>
    window.webAuthnApp = new WebAuthnApp({
      credentialsCreate: "{% url "webauthn:credentials-create" %}",
      credentialsRegister: "{% url "webauthn:credentials-register" %}",
      credentialsGet: "{% url "webauthn:credentials-get" %}",
      verify: "{% url "webauthn:verify" %}",
    });
  </script>
</head>
<body>
<h1>
  <a href="https://github.com/shemgion/django-webauthn">django-webauthn</a> demo
</h1>
<form name="webauthn_input" onsubmit="event.preventDefault()">
  <label>Email:
    <input type="email" name="email" autocomplete="on">
  </label>
  <button onclick="webAuthnApp.createCredentials()">Create account</button>
  <button onclick="webAuthnApp.login()">Log in</button>
</form>
<div id="result"></div>
</body>
</html>
