{% load static %}
{% load webauthn %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WebAuthn demo</title>
  <script src="{% static "app.js" %}"></script>
  <link rel="stylesheet" href="{% static "app.css" %}">

  {% webauthn_login_js "#login-form [name=username]" %}

</head>
<body>

<h1>
  <a href="https://github.com/shemigon/django-webauthn" target="_blank">django-webauthn</a> demo
</h1>

<div>
  <h1>Login</h1>
  <form id="login-form">
    <label>Username:
      <input type="text" name="username" required="required">
    </label>
    <button type="submit">Log in</button>
  </form>
</div>

<div id="result"></div>

</body>
</html>
